<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rango</title>
     <style type="text/css">
        img{width:500px;height:500px}
    </style>

</head>
<body>
    <h1>Rango says...</h1>
    <div>
        hey there partner!<br />
    </div>
    <div>
        <h1>Most liked categories</h1>
        {% if most_like_categories %}
        <ul>
            {% for category in most_like_categories %}
                <li><a href="{% url 'rango:category' category.slug %}">{{ category.name }}</a></li>
            {% endfor %}
        </ul>
        {% else %}
            <li>there are no category present by like</li>
        {% endif %}
    </div>

    <div>
        <h1>Most viewed pages</h1>
        {% if most_view_pages %}
        <ul>
            {% for page in most_view_pages %}
                <li><a href="{{ page.url }}">{{ page.title }}</a></li>
            {% endfor %}
        {% else %}
            <li>there are no page by view</li>
        {% endif %}
        </ul>
    </div>
    <li><a href="{% url 'rango:add_category' %}">Add a New Category</a></li><br />

    <div>
        <a href="/rango/about/">about</a><br />
        <img src="{% static "images/rango.png" %}" alt="Picture of Rango">
    </div>
</body>
</html>